html, body {
    margin: 0; padding: 0; border: 0;
    font-family: 'Bahnschrift';
}
body {
    background-color: #BFBFBF
}
.top {
    position: fixed;
    padding: 30px;
    width: 100%;
    font-weight: bold;
    height: 3%;
    top: 0;
    background: #333E50;
    font-size: 25px;
    color: white;
}
.currDate{
    font-size: 20px;
    color: white;
    position: fixed;
    top: 90%;
    width: 100%;
    padding: 25px;
    bottom: 0;
    background: #333E50;
}
.container{
    position: fixed;
    color: white;
    top: 15%;
    right: 20%;
    left: 20%;
    font-size: 15px;
    padding: 20px;
    background-color: #333E50;
    border: 3px solid black;
}
button{
    background-color: #AD0E24;
    color: white;
    width: auto;
    padding: 10px 18px;
    margin: 10px 0;
    cursor: pointer;
    font-family: 'Bahnschrift';
}
.logoutbtn{
    line-height: 12px;
    width: 100px;
    font-size: 15px;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 2px;
    position:fixed;
    top:3%;
    right:3%;
    font-family: 'Bahnschrift';
}
.mainPagebtn{
    line-height: 12px;
    width: 150px;
    font-size: 15px;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 2px;
    position:fixed;
    top:3%;
    right:10%;
    font-family: 'Bahnschrift';
}
.counterCell:before {
    content: counter(tableCount);
    counter-increment: tableCount;
}
.course-container {
    background-color: rgb(37, 150, 190);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }