<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <script src="../Js Files/addStudent.js" defer></script>
</head>
<body>
<div class="top">Add Instructor </div>
<div id="currDate" class="currDate"></div>
<a href="./login.html"><button type="button" class="logoutbtn">Logout</button></a>
<a href=./adminPage.html><button type="button" class="mainPagebtn">Go to Admin Page</button></a>
    <div class="containerAddEvent">
        <label>Username : </label>
        <input type="text" placeholder="Enter Student Number" name="username" required>
        <label>Password : </label>
        <input type="password" placeholder="Enter Name" name="password" required>
        <button id="submitStudent-btn" class="registerbtn">Submit Instructor</button>
    </div>
</body>
</html>