<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <script src="../Js Files/addLecture.js" defer></script>
</head>
<body>
<div class="top">Add Lectures </div>
<div id="currDate" class="currDate"></div>
<a href="./login.html"><button type="button" class="logoutbtn">Logout</button></a>
<a href=./adminPage.html><button type="button" class="mainPagebtn">Go to Admin Page</button></a>
    <div class="containerAddEvent">
        <label>Course Code : </label>
        <input type="text" placeholder="Enter Student Number" name="courseCode" required>
        <label>Department : </label>
        <input type="text" placeholder="Enter Name" name="department" required>
        <label>Name : </label>
        <input type="text" placeholder="Enter Surname" name="courseName" required>
        <button id="submitStudent-btn" class="registerbtn">Submit Lecture</button>
    </div>
</body>
</html>