<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <script src="../Js Files/addStudent.js" defer></script>
</head>
<body>
<div class="top">Add Student !</div>
<div id="currDate" class="currDate"></div>
<a href="./login.html"><button type="button" class="logoutbtn">Logout</button></a>
<a href=./adminPage.html><button type="button" class="mainPagebtn">Go to Admin Page</button></a>
    <div class="containerAddEvent">
        <label>Student Number : </label>
        <input type="text" placeholder="Enter Student Number" name="studentNo" required>
        <label>Name : </label>
        <input type="text" placeholder="Enter Name" name="name" required>
        <label>Surname : </label>
        <input type="text" placeholder="Enter Surname" name="surname" required>
        <label>Add Fingerprint : </label>
        <input type="file" id="myfile" name="myfile">
        <button id="submitStudent-btn" class="registerbtn">Submit Student</button>
    </div>
</body>
</html>