<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <script src="../Js Files/addLecture.js" defer></script>
</head>
<body>
<div class="top">Add Lectures </div>
<div id="currDate" class="currDate"></div>
<a href="./login.html"><button type="button" class="logoutbtn">Logout</button></a>
<a href=./adminPage.html><button type="button" class="mainPagebtn">Go to Admin Page</button></a>
    <div class="containerAddEvent">
        <label>Course Code : </label>
        <input type="text" placeholder="Enter Student Number" name="courseCode" required>
        <label>Section Year : </label>
        <input type="text" placeholder="Enter Name" name="sectionYear" required>
        <label>Section Number : </label>
        <input type="text" placeholder="Enter Name" name="sectionNumber" required>
        <label>Semester : </label>
        <input type="text" placeholder="Enter Name" name="semester" required>
        <label>Teacher UserName : </label>
        <input type="text" placeholder="Enter Name" name="teacherUserName" required>
        <button id="submitSection-btn" class="registerbtn">Submit Section</button>
    </div>
</body>
</html>