<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/adminPage.css" type="text/css">
    <script src="../fetch.js" defer></script>
</head>
<body>
<div class="top">Take Attendance System !</div>
<div id="currDate" class="currDate"></div> 
<a href="./login.html"><button type="button" class="logoutbtn">Logout</button></a>
<a href=./mainPage.html><button type="button" class="mainPagebtn">Go to main Page</button></a>
    <div class="container top-left">
        <p class="pHeaders">Devices</p>
        <p><b>List, add, edit, and remove the fingerprint devices from here.</b></p>
        <button id="bDevices" class="containerButton">Enter</button>
    </div>
    <div class="container top-right">
        <p class="pHeaders">Students</p>
        <p><b>List, add, edit, and remove the Students from here.</b></p>
        <button id="bDevices" class="containerButton">Enter</button>
    </div>
    <div class="container bottom-left">
        <p class="pHeaders">Classrooms / Lectures</p>
        <p><b>List, add, edit, and remove the Lectures from here.</b></p>
        <button id="bDevices" class="containerButton">Enter</button>
    </div>
    <div class="container bottom-right">
        <p class="pHeaders">Instructors</p>
        <p><b>List, add, edit, and remove the Instructors from here.</b></p>
        <button id="bDevices" class="containerButton">Enter</button>
    </div>
</body>
</html>