<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/mainPage.css" type="text/css">
    <script src="../Js Files/mainPage.js" defer></script>
</head>
<body>
<div class="top">Welcome Again !</div>
<div id="currDate" class="currDate"></div> 
<a href="./login.html"><button type="button" class="logoutbtn">Logout</button></a>
<button id="go-adminPage-btn" type="button" class="mainPagebtn">Go to Admin Page</button>
    <div class="container">
        <h1>My Lectures</h1>

        <div id="showData"></div>
    </div>
</body>
</html>