<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
</head>
<body>
<div class="top">Register !</div>
    <form action="/register" method="POST">
        <div class="containerAddEvent">
            <label>Username : </label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <label>Password : </label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <label>First Name : </label>
            <input type="text" placeholder="Enter First Name" name="firstname" required>
            <label>Last Name : </label>
            <input type="text" placeholder="Enter Last Name" name="lastname" required>
            <label>Email : </label>
            <input type="text" placeholder="Enter Email" name="email" required>
            <button type="submit" class="registerbtn">Sign up</button>
            <a href="C:\Users\ilyas\Documents\CNG Courses\CNG 491 Node JS\xhr-fetch-axios-intro-fetch\templates\login.html"><button type="button" class="loginbtn">Sign in</button></a>
            <!-- <div class="msg">{{ msg }}</div> -->
        </div>
    </form>
</body>
</html>